* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 200vh;
  overflow-x: hidden;
  background: repeating-conic-gradient(#0000 0.000045%, #000d 0.0005%),
    linear-gradient(rgb(0, 1, 29), transparent),
    linear-gradient(to top left, rgb(29, 0, 1), transparent),
    linear-gradient(to top right, rgb(1, 29, 0), transparent);
  background-blend-mode: overlay, screen, screen;
  & > main {
    height: 100vh;
    & > aside {
      position: absolute;
      padding: 0.3%;
      & > button {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        padding: 2%;
        text-align: left;
        border-color: white;
        font-size: 20px;
      }
      & > fieldset {
        padding: 2.5%;
        margin-top: 10%;
        & > address {
          & > a {
            text-decoration: none;
          }
        }
      }
    }
    & > h1 {
      font-size: 50px;
      font-family: serif;
      text-align: center;
      padding-top: 5%;
    }
    & > h3 {
      font-size: 30px;
      font-family: serif;
      text-align: center;
      margin-top: 25%;
    }
    & > button {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      padding: 0.3%;
      border: 0;
      margin: 2% auto 0 auto;
      display: block;
      & > img {
        transform: rotate(90deg);
      }
    }
  }
  & > img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
