@media (orientation: portrait) {
  main > article[data-status="inactive"] {
    transform: translateY(-100%);
    transition: none;
  }

  main > article[data-status="active"] {
    transform: translateY(0%);
  }

  main > article[data-status="before"] {
    transform: translateY(-100%);
  }

  main > article[data-status="after"] {
    transform: translateY(100%);
  }

  main > article[data-status="becoming-active-from-before"] {
    transform: translateY(-100%);
  }

  main > article[data-status="becoming-active-from-after"] {
    transform: translateY(100%);
  }

  button {
    transform: rotate(90deg);
  }

  button:first-of-type {
    top: 0;
    left: calc(50vw - 22.5px);
  }

  button:last-of-type {
    bottom: 0;
    left: calc(50vw - 22.5px);
  }
}
