@media (orientation: portrait) {
  body {
    & > main {
      & > article {
        & > h1 {
          font-size: calc(16px + 50 * ((100vw - 320px) / 680));
          &:first-of-type {
            top: 10vh;
            left: 5vw;
            transform: rotate(-15deg);
          }
          &:last-of-type {
            top: 75vh;
            left: 5vw;
            transform: rotate(10deg);
          }
        }
      }
      & > article[data-status="active"] {
        transform: translateY(0%);
      }
      & > article[data-status="inactive"],
      & > article[data-status="before"],
      & > article[data-status="becoming-active-from-before"] {
        transform: translateY(-100%);
      }
      & > article[data-status="after"],
      & > article[data-status="becoming-active-from-after"] {
        transform: translateY(100%);
      }
    }
    & > nav {
      & > button {
        transform: rotate(90deg);
        &:first-of-type {
          top: 0;
          left: calc(50vw - 22.5px);
        }
        &:last-of-type {
          bottom: 0;
          left: calc(50vw - 22.5px);
        }
      }
    }
  }
}
